
<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner" style="background-image: linear-gradient(-228deg, rgba(0,123,186,0.6) 0%, rgba(0,40,77,0.6) 50%), url('https://static.pexels.com/photos/332688/pexels-photo-332688.jpeg');">
  <div class="banner-content">
      <h1>Free your Sound</h1>
      <p class="subtitle">Create your playlist. Share it with your friends.</p>
      <% if user_signed_in? %>
        <a href='<%= playlists_path %>' class="btn btn-lg btn-success btn-home"><span class="glyphicon glyphicon-play-circle"></span> Let's play</a>
      <% else %>
        <a href='<%= new_user_session_path %>' class="btn btn-lg btn-success btn-home"><span class="glyphicon glyphicon-play-circle"></span> Let's play</a>
      <% end %>
  </div>
</div>

<div class="hashtags">
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-4 col-xs-12">
          <div class="block">
          <h2>#experience</h2>
          <p>Build your <b>own playlist</b>  and access it whenever you want.</p>
          </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="block">
          <h2>#share</h2>
          <p>Invite your <b>friends</b> to listen your tracks and <b>chat</b> directly with them.</p>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="block">
          <h2>#music</h2>
          <p>Be part of a <b>community</b> of music lovers and <b>discover</b> new tracks.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row text-center">
      <div class="col-xs-12">
        <h2> PLAYLISTS OF THE MONTH </h2>
        <div class="playlist-top">
          <div class="row">
          <% @playlists.sort_by { |playlist| playlist.upvotes.size}.first(3).each do |playlist|%>
            <div class="col-xs-12 col-sm-4">
                <div class="card">
                <div class="card-img">
                  <% if playlist.photo? %>
                  <%= cl_image_tag playlist.photo.path, class: "card-image hidden-xs"%>
                  <% end %>
                </div>
                <div class="card-category"><%= playlist.user.first_name %></div>
                <div class="card-description">
                  <h2><%= playlist.name %></h2>
                  <p><%= playlist.description %></p>
                </div>
                <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
                <a class="card-link" href="#" ></a>
              </div>
            </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
