<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
      <div class="form">
      <div class="welcome-sentence">
      <div class="title">
      <div class="title-image">
        <%= image_tag "add.png" %>
      </div>
      <div class="title-tag">
      <h2>Hey <%= @user.first_name %> ! </h2>
      </div>
    </div>
        <h4>You can now create your own playlist: </h4>
      </div>
          <%= simple_form_for @playlist do |f| %>
            <%= f.input :name, label: "What's the name of your playlist ?" %>
            <%= f.input :description, label: "Add a description:" %>
            <%= f.input :photo, as: :attachinary, label: "Upload a playlist picture:"%>
            <button type="submit" class="btn btn-primary center-block">
              <i class="fa fa-plus-circle"></i> Create your playlist
            </button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
