<div class="wrapper-playlist">
    <div class="playlist">
      <div class="col-xs-10 col-xs-offset-1">
      <% if @playlist.user == current_user %>
         <%= render 'tracks/form' %>
      <% else %>
      <p>Discover <%= @playlist.user.first_name %>'s tracklist !</p>
      <% end %>
      </div>



  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <% @playlist.tracks.each do |track| %>
        <!-- <h2>Temperature
          <small>Sean Paul </small>
        </h2> -->
        <% if track.name.include? "soundcloud"%>

        <div class="product">
          <iframe width="100%" height="100" scrolling="yes" frameborder="yes" src="https://w.soundcloud.com/player/?url=<%= track.name %>&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
          <ul class="list-inline product-controls hidden-sm hidden-xs">
            <% if @playlist.user == current_user %>
            <li>
              <%= link_to track_path(track), method: :delete, data: { confirm: 'Are you sure?'} do %>
                    <i class="fa fa-trash"></i>
              <% end %>
            </li>
            <% end %>
          </ul>
        </div>

        <% end %>

        <% if track.name.include? "spotify"  %>

        <div class="product">
          <iframe src="https://open.spotify.com/embed?uri=<%= track.name %>&theme=white" width="300" height="100" frameborder="0" allowtransparency="true"></iframe>
          <ul class="list-inline product-controls hidden-sm hidden-xs">
            <% if @playlist.user == current_user %>
            <li>
              <%= link_to track_path(track), method: :delete, data: { confirm: 'Are you sure?'} do %>
                    <i class="fa fa-trash"></i>
              <% end %>
            </li>
            <% end %>
          </ul>
        </div>

      <% end %>

      <% end %>
    </div>
  </div>
</div>
  </div>

    <div class="messages-container">
      <div class="col-xs-12">

        <div class="product">

          <div class="upvote-container" id="playlist-<%= @playlist.id %>">
              <%= render 'upvotes/show', playlist: @playlist %>
            </div>

        <% if @playlist.photo? %>
        <%= cl_image_tag @playlist.photo.path, width: 200, height: 100, crop: :fill, class: "product-image hidden-xs"%>
        <% end %>
          <div class='product-body'>
            <h3><%= @playlist.name %></h3>
            <% if @playlist.user == current_user %>
            <h4>Send your playlist to your friends: </h4>
              <div class="input-group">
                    <input id='link' type="text" class="input-museek" placeholder="museek-app.herokuapp.com/playlists/<%= @playlist.id %>" readonly="readonly">
                    <button class="btn btn-primary btn-primary" type="button" onclick="copyToClipboard('#link'); clipboardNotice()"><i class= "fa fa-link"></i> Copy link</button>
              </div>
            <% else %>
              <h4><%= @playlist.tracks.size.to_i %> tracks</h4>
              <p><%= @playlist.description %></p>
            <% end %>
          </div>
            <% if @playlist.user == current_user %>
            <ul class="list-inline product-controls hidden-sm hidden-xs">
            <li>
              <%= link_to edit_playlist_path(@playlist), method: :get do %>
              <i class= "fa fa-pencil"></i>
              <% end %>
            </li>
            <li>
              <%= link_to playlist_path(@playlist), method: :delete, data: { confirm: "🎵 Are you sure ? 🎵"} do %>
                  <i class="fa fa-trash"></i>
                <% end %>
              </li>
              </ul>
        </div>
        <% end %>
      </div>

        <div class="chatroom">
          <div class="col-sm-10 col-sm-offset-1">
          <% if current_user == @playlist.user %>
          <div class="chat-header"><h4>#Chat with your friends
          </h4></div>
          <% else %>
            <div class="chat-header"><h4>#Chat with <%= @playlist.user.first_name %></h4></div>
          <% end %>
            <div class="messages">
              <div class="message" >
                <%= image_tag @playlist.user.facebook_picture_url || "presley.jpg" , class: "avatar" %>
                <div class="message-content">Enjoy my playlist guys !</div>
              </div>
              <% @playlist.messages.each do |message| %>
                <%= render "messages/message", message: message, user_is_messages_author: message.user == current_user %>
              <% end %>
            </div>
            <div id="create-message">
              <%= simple_form_for [ @playlist, Message.new ], remote: true do |f| %>
                <%= f.input :content, label: false, placeholder: "Type your message ..." %>
              <% end %>
            </div>
          </div>
          </div>
        </div>

<% content_for :after_js do %>
  <script>
  scrolllLastMessageIntoView();
    App['playlist_<%= @playlist.id %>'] = App.cable.subscriptions.create(
      { channel: 'PlaylistsChannel', playlist_id: <%= @playlist.id %> },
      { received: (data) => {
        if (data.current_user_id !== <%= current_user.id %>) {
          const messagesContainer = document.querySelector('.messages');
        messagesContainer.insertAdjacentHTML('beforeend', data.message_partial);
        scrolllLastMessageIntoView();
        }
      }
    })
  </script>

  <script>
    function copyToClipboard(element) {
      var $temp = $("<input>");
      $("body").append($temp);
      $temp.val($(element).attr('placeholder')).select();
      document.execCommand("copy");
      $temp.remove();
    }
  </script>
<% end %>

