<div class="container-playlist">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
    <div class="title">
      <div class="title-image">
        <%= image_tag "rock.png" %>
      </div>
      <div class="title-tag">
      <h3>Top Playlists</h3>
      </div>
    </div>

      <% @playlists.each do |playlist| %>
        <div class="product">

            <div class="upvote-container" id="playlist-<%= playlist.id %>">
              <%= render 'upvotes/show', playlist: playlist %>
            </div>


          <% if playlist.photo? %>
          <%= cl_image_tag playlist.photo.path, width: 200, height: 100, crop: :fill, class: "product-image hidden-xs"%>
          <% end %>
          <div class='product-body'>
            <h3><%= playlist.name %></h3>
            <h4>from <%= playlist.user.first_name %> <%= playlist.user.last_name %></h4>
            <p><%= playlist.description %></p>
          </div>
          <ul class="list-inline product-controls hidden-sm hidden-xs">
          <li><a href=""><i class="fa fa-heart"></i></a></li>
          <li><a href=""><i class="fa fa-share"></i></a></li>
          <li><a href=""><i class="fa fa-star"></i></a></li>
          </ul>
          <%= link_to "Enjoy it", playlist_path(playlist), class: "btn btn-primary", id: "playlist"+playlist.id.to_s %>
        </div>
      <% end %>

    </div>
  </div>
</div>
