<div class="container-playlist">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <h3>Top Playlists</h3>

      <% @playlists.each do |playlist| %>
        <div class="product">

            <div class="upvote-container" id="playlist-<%= playlist.id %>">
              <%= render 'upvotes/show', playlist: playlist %>
            </div>


          <% if playlist.photo? %>
          <%= cl_image_tag playlist.photo.path, width: 200, height: 100, crop: :fill, class: "product-image hidden-xs"%>
          <% end %>
          <div class='product-body'>
            <h3><%= playlist.name %></h3>
            <p><%= playlist.description %></p>
          </div>
          <ul class="list-inline product-controls hidden-sm hidden-xs">
            <li><%= image_tag("star.png") %></li>
            <li><%= image_tag("heart.png") %></li>
            <li><%= image_tag("plus.png") %></li>
          </ul>
          <%= link_to "Enjoy it", playlist_path(playlist), class: "btn btn-primary", id: "playlist"+playlist.id.to_s %>
        </div>
      <% end %>

    </div>
  </div>
</div>
